$tw_green_100: '#dcfce7';
$tw_stone_200: #e7e5e4;
$tw_stone_900: #1c1917;
$tw_stone_400: #a8a29e;
$tw_red_100: #fee2e2;
$tw_red_600: #dc2626;
$tw_stone_700: #44403c;
$tw_stone_500: '#78716C';
$tw_red_200: #fecaca;
$tw_sky_400: #38bdf8;
$tw_white: #ffffff;
$tw_sky_600: #0284c7;
$tw_green_600: #16a34a;
$tw_blue_100: #dbeafe;
$tw_sky_100: #e0f2fe;
$tw_orange_700: #f59e0b;
$tw_amber_200: #fde68a;

//color
$color_white: #fff;
$color_black: #000000;
$color_locked: #a8a29e;
//back ground
$bg_white: #fff;
$bg_primary: #a8a29e;
$bg_blue: #f3f3f3;

//border
$border_color: #a8a29e;
$mistake: #dc2626;
$repetition: #f59e0b;
$linking: #16a34a;
